.places__item {
  width: 282px;
  padding: 0;
  margin: 0 17px 20px 0;
  height: 361px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.places__item:nth-child(3n) {
  margin-right: 0;
}